$grayColor: #C2C2C2;
$royalBlue: #4F7CC3;
$blueColor: #5B88C8;


#registrationForm {
  width: 500px;
  height: 600px;
  border: 2px solid $grayColor;
  border-radius: 3px;
  margin: 70px 0 0 400px;
  position: relative;

  .topPortion {
    height: 65px;
    background: $blueColor;
  }
  .topPortion h1  {
    margin-top: 0;
    padding: 19px 0 0 10px;
    color: #fff;
    font-weight: lighter;
    font-size: 25px;
    background: $blueColor;
  }
   .input-data {
    margin-bottom: 20px;
  
    .input-fields {
      margin: 10px 0 0 10px;
      padding: 7px;
      width: 460px;
      border: 2px solid $grayColor;
      border-radius: 3px;
    }
  }
  
  .lang-opt {
      padding: 10px;
      margin: 20px 0;

      .sel-opt {
        width: 478px;
        height: 20px;
      }

  }
  .bottomPortion {
    background: #CDDCEF;

      button {
        padding: 10px;
        margin: 20px 0 18px 10px;
        border: 1px solid $royalBlue;
        border-radius: 3px;
        background: $blueColor;
        color: #fff;
      }
  }






}